* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: var(--primary-color);
  --primary-color: #faebd7;
  --secondary-color: #222222;
  --tertiary-color: #39a6b2;
}

    h2{
        font-family: sans-serif;
    }
    
    li{
        padding-bottom: 3px;
        color: var(--secondary-color);
        list-style-type: none;
    }
    
    p{
        color: var(--secondary-color);
        text-shadow: .5px .5px white;
        text-align: center;
        font-size: xx-large;
        font-family: sans-serif;
    
    }

    input{
        text-align: center;
    }
    
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
      }
    
      button {
        display: inline-block;
        font-family: sans-serif;
        background-color: var(--secondary-color);
        border-radius: 50px;
        color: var(--primary-color);
        text-align: center;
        font-size: 15px;
        padding: 20px;
        width: 200px;
        margin-top: 3px;
      }
    
      button:hover{
          box-shadow: 4px 3px 6px #878787;
          cursor: pointer;
      }
    
    #startpage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #timer{
        font-family: sans-serif;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        font-size: x-large;
        text-shadow: .5px .5px #878787;
        text-align: center;
        flex: flex-start;
    }
    
    #quiz {
        display: none;
    }
    
    #result {
        display: none;
    }
    
    #gameover {
        text-align: center;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    #highScore{
        height: 1.5rem;
        border: groove 2px;
    }
    
    #high-scorePage{
        display: none;
        width: 50%;
        border: solid;
        border-color: var(--secondary-color);
        border-bottom-style: groove;
        padding-bottom: .3rem;
        background: var(--primary-color);
    }
    
    #highscore-header{
        display:flex;
        justify-content: space-around;
        border-bottom-style: outset;
        margin-bottom: .5rem;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        font-family: sans-serif;
    }
    #highscoreContainer{
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #initials{
        margin: .5rem;
        height: 1.75rem;
    }
    
    #highscore-initials{
        display: inline-block;
        padding-left: 9.5rem;
        font-family: sans-serif;
        font-weight: bold;
    }
    
    #highscore-score{
        float: right;
        padding-right: 8.75rem;
        font-family: sans-serif;
        font-weight: bold;
    }
    
    #finalScore{
        padding-bottom: 0.5rem;
        font-size: x-large;
        font-family: sans-serif;
        font-weight: bold;
    }
    
    #endGameBtns{
        display: none;
    }